img {
  max-width: 100%;
}
a {
  color: #C1856D;
}
.page-content {
  padding: 8px;
  padding-top: 48px;
}
.header {
  background-color: #180F24;
}
.mdl-navigation__link {
  font-weight: bold;
}
.mdl-navigation__link:hover {
  background-color: #C1856D;
}
.section--center {
  max-width: 860px;
/*}
.mdl-layout__content section:not(:last-of-type) {*/
  position: relative;
  margin-bottom: 48px;
}
.mdl-card__supporting-text {
  color: inherit;
}
h4 {
  margin-top: 16px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  color: #180F24;
}
h4 .material-icons {
  margin-right: 8px;
  font-size: 2rem;
  vertical-align: text-bottom;
}
.avatar {
  border-radius: 50%;
}
.talks__list > li + li {
  padding-top: 1rem;
}
.material-icons {
  display: inline-block;
  width: 28px;
}
/*https://github.com/google/material-design-icons/blob/master/iconfont/codepoints*/
.mdi--loaded .mdi-account-circle:before {
  content: "\e853";
}
.mdi--loaded .mdi-code:before {
  content: "\e86f";
}
.mdi--loaded .mdi-forum:before {
  content: "\e0bf";
}
.mdi--loaded .mdi-people:before {
  content: "\e7fb";
}
